* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    transition: .2s;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
    width: 75%;
    margin-left: 186px;
    padding: 10px 10px 10px 10px;
    border: 5px solid black;

}

.keyboard{
    max-width: 1008px;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    order: 2;
}

.row {
    display: flex;
}

.keys {
    width: 70px;
    height: 70px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: .2s;
    z-index: 5;
    color: white;
    border-radius: 50%;
}

.backspace_key {
    width: 120px;
}

.tab_key {
    width: 90px;
}

.slash_key {
    width: 90px;
}

.caps_lock_key {
    width: 128px;
}

.enter_key {
    width: 120px;
}

.shift_key {
    width: 124px;
}

.row .space{
    width: 600px;
    border-radius: 42px;
    margin: auto;

}
.space_key {
    max-width: 600px;
    width: 100%;
}

.text {
    max-width: 1008px;
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    outline: none;
    font-size: 26px;
    background-color: #ffffff;
    padding-left: 10px;
    transition: .2s;
    height: 160px;
    padding: 10px 10px 10px 10px;
    border: 2px black solid;
}

.keys.remove {
    animation: keys_animation 0.5s forwards ;
}

@keyframes keys_animation {
    0% {
        background-color: #fffb00;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #ffe600;
    }
}

.keys:active{
    background-color: rgb(255, 238, 0);
}

.makeCase{
    text-transform: uppercase;
}
.color{
    color: #ffd000;
}

.colors{
    animation: keys_animation 0.5s forwards;
}
@keyframes keys_animation{
    0%{
        background-color: #ffd000;
    }
    
}



.space_key {
    border-radius: 45px;
}
.change{
    color: white;
}

.shift{
    color: rgb(255, 255, 255);
}
h6{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.keyboard .hide textarea{
    caret-color: red;
}
.tamil{
    width: 70px;
    height: 70px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: .2s;
    z-index: 5;
    color: white;
    border-radius: 50%;
}

.container1{
    /* display: flex;
    justify-content: center;
    margin-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
    width: 75%;
    margin-left: 186px;
    padding: 10px 10px 10px 10px;
    border: 5px solid black;
}
.container1{
    display: none;
}
.s{
    background-color: yellow;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.text_tamil{
    max-width: 1008px;
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    outline: none;
    font-size: 26px;
    background-color: #ffffff;
    padding-left: 10px;
    transition: .2s;
    height: 160px;
    padding: 10px 10px 10px 10px;
    border: 2px black solid;
}